.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* If you want it to be centered vertically in the viewport */
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}